<section>
    <h1>Hello world!</h1>
</section>
{% schema %}
  {
    "name": "Announcement Bar",    
    "settings": [    
    ],
    "presets": [
      {
        "name": "announcement-bar"        
      }
    ]
  }
{% endschema %}