<section>Hello world!</section>
{% schema %}
  {
    "name": "banner",
    "tag": "section",    
    "settings": [    
    ],
    "presets": [
      {
        "name": "banner",
        "settings": {
        }
      }
    ]
  }
{% endschema %}