<section>hello word</section>
{% schema %}
  {
    "name": "banner",
    "tag": "section",
    "class": "",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "banner",
        "settings": {
        }
      }
    ]
  }
{% endschema %}